* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

html{
  height: 100%;
  min-height: 100%;
}
#root{
  background-color: #efefef;
  height: 100%;
}